
@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans');

.md_container {
  padding-top: 20px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 1em;
  color: #333;
  background-color: #FAFAFA;
  background-image: url("http://markdown.ninja/img/bg/concrete.png");
  background-repeat: repeat;
}

.md_container h1, .md_container h2, .md_container h3, .md_container h4 {
  font-family: 'Montserrat';
}

.md_container a {
  color: #268bd2;
  border-bottom: 1px solid #DEDEDE;
  line-height: 1.4;
  text-decoration: none;
  font-weight:500;
}

.md_container .content {
  max-width: 700px;
  background-color:#FAFAFA;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  box-shadow: 1px 1px 5px #AAA;
  padding-right: 20px;
  padding-top:20px;
  padding-bottom:40px;
}
