/*
  roboto.css
*/

@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,700');

.md_container {
  padding-top: 20px;
  font-family: 'Roboto', sans-serif;
  font-size: 1.2em;
  color: #333;
  background-color: #fff;
}

.md_container a {
  color: #268bd2;
  border-bottom: 1px solid #DEDEDE;
  line-height: 1.4;
  text-decoration: none;
  font-weight:500;
}

.md_container .content {
  max-width: 700px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}
