/*
  ycombinator.css

  A theme loosely based on YC's typical style of website.
*/

@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500');

.md_container {
  padding-top: 20px;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-size: 1em;
  color: #333;
  background-color: #f6f6ef;
}

.md_container a {
  color: #268bd2;
  border-bottom: 1px solid #DEDEDE;
  line-height: 1.4;
  text-decoration: none;
  font-weight:500;
}

.md_container h1, .md_container h2, .md_container h3, .md_container h4 {
  font-weight: 400;
}

.md_container .content {
  max-width: 700px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}
